
  <h2 class="title">Donuts<h2>
    <div class="row top-buffer">
      <% @donuts.each do |donut| %>
        <section class="col-md-3 col-md-offset-1 top-buffer donut">
          <h4>Name: <%= link_to donut.name, donut_path(donut) %></h4>
          <h4>Descrih4tion: <%= donut.description %></h4>
          <h4>From: <%= donut.donut_shop.name %></h4>   
        </section>  
      <% end %>
    </div>
  <% if logged_in %>
    <%= render 'donuts/new' %> 
  <% end %> 
