<h2 class="title_page">Donuts<h2>
<div class="expanded row donut">
  <% @donuts.each do |donut| %>
    <section class="col-md-3 col-md-offset-2 donut">
      <div>
        <h4><%= link_to donut.name, donut_path(donut), id: donut.name  %></h4>
        <h5>From: <%= link_to donut.donut_shop.name %></h5> 
      </div>    
    </section>  
  <% end %>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if logged_in %>
      <%= render 'donuts/new' %>
    <% else %>
      <%= render partial: 'users/login_needed' %>
    <% end %>
  </div> 
</div>   
