  <h2>Donuts<h2>
    <% @donuts.each do |donut| %>
  <section class="donut">
      <p>Name: <%= link_to donut.name, donut_path(donut) %></p>
      <p>Description: <%= donut.description %></p>
      <p>From: <%= donut.donut_shop.name %></p>   
  </section>  
    <% end %>
  <% if logged_in %>
    <%= render 'donuts/new' %> 
  <% end %> 
