<h2>Each donut is different each day. </h2>

<p>Name: <%= @donut.name %></p>
<p>Description: <%= @donut.description %></p>
<p>Donut Shop: <%= @donut_shop.name %> </p>
<%= render "donut_ratings/new" %>
