<section class="row">
  <div class="col-md-8 col-md-offset-2 about">
    <h2>About</h2>
    <p>I was bored and needed something to code and my friend had donuts on the mind. This is how all great things come to life.</p>
  </div>
</section>