<div class ="row welcome">
  <h2 class="col-md-3 col-md-offset-1 welcome">Every donut is special.</h2> 
  <div class="col-md-5 col-md-offset-0">
    <img id="donut_pic" src="donut.jpg">
  </div>
</div>