/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h2{
  font-size:1.2em;
  margin-left: 20%;
  margin-right: auto;
}

ul {
  list-style-type: none;
  background-color: #CF6E91;
  overflow: hidden;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
}

li {
  font-size: 0.5em;
  float: left;
  margin-right: 3%;
}

li a {
  text-decoration: none;
}

a:hover{
  color: #2E0F14;
}

a:visited{
  color: #3D141F;
}

.donut-shop {
    margin: 20%;
    border: 0.5em double black;
    padding: 2%;
    word-wrap: break-word;
}
