/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

//  */

.top-bar {
  background-color: #f05871;
  width: 100%;
  padding: 2%;
.title-area {
  font-size: 2.0em;
}

.top-bar-section {
  font-siz: 1.2em;
  float: right;
  width: 30%;
  li{
    display: inline-block;
    padding-right: 5%;
    }
  }
}

.navbar {
  img{
  display: none;
}
}



@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar img {
    display: block;
  }
  .navbar li a{
  display: none;
  }
}






