// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.donut{
  text-align: center;
  margin-top: 0%;
  margin-bottom: 3%;
  border: 0.5em groove #FF69B4;
}
div .donut{
  height: 5.5em;

}
