// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea{
  width: 20.0em;
  height: 10.0em;
}
.donut{
  text-align: center;
  border: 0.5em groove #FF69B4;
  border-radius: 50%;
  margin-bottom: 5%;
  padding: 2%;
}
section .donut{
  
}
div .donut{
  width: 30%;
  height: 5%;
  padding: 5%;
}

.donut_show{
  text-align: center;
}

#map{
  height: 320px;
  width: 400px;
}

