// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating{
  width: auto;
  padding-bottom: 3%;
  margin-bottom: 2%;
  border: 0.5em groove #FF69B4;
}

.radio label{
  line-height: 3.8em;
  display: block;
}
