// Place all the styles related to the DonutShops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.donut_shop{
  text-aligned: center;
  padding: 10%;
}

.donut_shop_show{
  background-color: white;
  margin-bottom: 10%;
}

.new_donut_shop{
  text-align: center;
  border: 0.5em groove #FF69B4;
  float: right;
  margin-top: 10%;
  margin-right: 30%;
  margin-left: 40%;
}

.new_donut_shop input {
  border: solid 0.15em #c9c9c9;
  margin-top: 10%;
  margin-bottom: 10%;  
}

.new_donut_shop label{
  display: block;
  margin-top: 5%;
}

.new_donut_shop textarea{
  border: solid 0.15em #c9c9c9;
  height: 4.5em;
  width: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#donut_shop_picture{
  height: 1.5em;
  padding-top: 10px;
}

