// Place all the styles related to the DonutShops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 6em;
  color: #D98C9E;
}

.donut-shop{
  text-align: center;
  border: 4px double #32957B;
}
