// Place all the styles related to the donuts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 1099px) {
  .donut section{
    background-color: white;
    border: 0.5em groove #FF69B4;
    border-radius: 50%;
  }

  div .donut {
    margin-left: 8%;
    margin-right: 8%;
  }

 div .donut div{
    text-align: center;
    width: 8.0em;
    height: 8.0em;
    padding-top: 30%;
  } 
}

@media (max-width: 1098px) {
  .donut section{
    background-color: white;
    text-align: center;
    border: 0.5em groove #FF69B4;
    border-radius: 40%;
    margin-bottom: 2%;
    margin-right: 0 auto;
    margin-left: 0 auto;
  }
  div .donut {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    height: 200px;
    width: 230px;
    padding: 5%;
  }
  
}
.donut_show{
  text-align: center;
}

.rating{
  background-color: white;
}

.donut_show{
  background-color: white;
}