// Place all the styles related to the donuts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  font-size: 2.0em;
  text-align: center;
  padding: 3% 2% 3% 2%;
  margin-right: 40%;
  margin-left: 40%;
  }

.donut{
  border: 1.0em outset pink;
  line-height: 1.5em;
  padding: 5%;
  width: 10%;
  height: 12.0em;
  float: left;
  margin: 50px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) {  
  .new_donut{
    font-size: 1.0em;
    background-color: pink;
    width: 95%;
    margin: 0 auto;
    padding: 5%;
    textarea {
      width: 90%;
      height: 200px;
    }
  }
  .donut_ratings{
    font-size: 1.0em;
    background-color: pink;
    width: 95%;
    margin: 0 auto;
    padding: 5%;
  }
  .donut{
    border: 0.5em double pink;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 8% 5% 8% 5%;
    p{
      font-size: 0.9em;
      line-height: 1.5em;
    }
  }
}

.new_donut{
    font-size: 1.0em;
    background-color: pink;
    width: 90%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5%;
    textarea {
      width: 90%;
      height: 300px;
    }
  } 
