// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen 
  and (min-device-width: 33320px) 
  and (max-device-width: 3736px) 
  and (-webkit-min-device-pixel-ratio: 2) {  
  .ratings{
    font-size: 1.0em;
    background-color: pink;
    border-radius: 50%;
    border: 0.4em double grey;
    width: 40%;
    margin: 5% 20% 5% 20%;
    padding: 5%;
    div{
      padding: 5%;
    }
  }
}
