nav{
  border-bottom: thick dotted #ff0000;
}  
.navbar, .navbar-inverse {
  border-bottom: 1.0em solid !important;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 80px;
  background-color: #FFC0CB !important;
}

.nav li {
  display: inline;
  color: white;
  font-family: Helvetica !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #696969 !important;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #98FB98 !important;
  transition: 0.7s all linear;
  height: 100%;
}
