// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_form{
   text-align: center;
   width: 20%;
   margin-right: 30%;
   margin-left: 30%;
   margin-top: 5%;
   padding: 5%;
   display: block;
   border: 1.0em ridge gray;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .user_form{
      width: 60%;
      margin: 5%;
      paddint: 5%;
    }
  }
