// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  background-color: white;
  width: 70%;
  padding: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

.login_or_register{
  background-color: white;
  border: 2px solid black;
  text-align: center;
  margin-top: 5%;
  padding: 1.5%;
}

.login_form{
  background-color: white;
  border: 2px solid black;
  text-align: center;
  margin-top: 5%;
  padding: 1.5%;
}


