<nav>
  <ul>
    <li> <%= link_to "Donut", root_path, class: "button" %></li>
    <li><%= link_to "Login", new_session_path, class: "button" %></li>
    <li><%= link_to "Register", new_user_path, class: "button" %></li>
    <li>Beer!</li>
  </ul>
</nav>