 <h2 class="title_page">Donut Shops<h2>
    <div class="row top-buffer donut">
      <%@shops.each do |shop| %>
      <section class="col-md-3 col-md-offset-1 top-buffer donut">
        <h4><%= link_to shop.name, donut_shop_path(shop) %> </h4>
        <h5>Description: <%= shop.description %></h5>
        <h5 id = 'address'>Address: <%= shop.address %></h5>
        <div ="map"></div>
      </section>
    <% end%>

<section class="donut_shop_form">
  <%= render  "donut_shops/new" %>
</section>
