<%# add navigation links to this file %>
  <li> <%= link_to "Donuts", donuts_path %></li>
  <li> <%= link_to "Donut Shops", donut_shops_path %></li>
  <li> <%= link_to "Login", new_session_path %></li>
  <li> <%= link_to "Register", new_user_path %></li>
